body{
    text-align: center;
    font-family: 'Happy Monkey', cursive;
    background:linear-gradient(#E9DAC1, #a2d2ff, #EFB0C9);
    color: #ffffff;
    text-shadow: 0 0 1px black;
     
}

button{
    
    padding: 25px;
    margin:auto;
    border-radius: 15px;
    background-color:sienna;
    color: #fff;
    margin-bottom: 10px; 
    font-family:'Happy Monkey', cursive;
  
  }
  
  button:hover {
    padding: 25px;
    margin: auto;
    border-radius: 15px;
    background-color: black;
    color: #fff;
    font-size: 20px;
  }

  .set{
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  .mine{
    width: 500px;
    height: 500px;
    border-radius: 10px;
    background-size: cover;
    margin: 0px auto;
   
  }

  #mine{
    width: 500px;
    height: 500px;
    border-radius: 10px;
    background-size: cover;
    margin: 0px auto;
  }

  .mine:hover{
    background-image: url("images/Faisal.jpg");
  }

  h3{
    color: black;
  }
  
  